# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.lmr8712-HW-Week8.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\laura\Documents\NYU Game Center\Spring 2021\CodeLab\Homework\lmr8712-HW-Week8\.idea\.idea.lmr8712-HW-Week8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
